/* Iosevka Fixed Web (Regular and Bold only) */

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/iosevka/WOFF2/IosevkaFixed-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('/iosevka/WOFF2/IosevkaFixed-Bold.woff2') format('woff2');
}
